/* Definición de colores */
:root {
    --color-primary: #D65C00; /* Naranja oscuro */
    --color-secondary: #333; /* Gris oscuro */
    --color-background: #f5f5f5; /* Gris claro para el fondo */
}

/* Estilos para el encabezado */
header {
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

/* Estilos para el menú de navegación */
nav {
    background-color: var(--color-secondary);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para el contenido principal */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los puntos destacados en Acerca de mí y Categorías */
.destacado {
    background-color: var(--color-background);
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.destacado h3 {
    color: var(--color-primary);
}

.destacado p {
    color: var(--color-secondary);
}

/* Estilos para el pie de página */
footer {
    background-color: var(--color-secondary);
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Enlace de navegación activo */
nav ul li a:hover {
    color: var(--color-primary);
}

/* En tu archivo styles.css */
/* En tu archivo styles.css */

/* En tu archivo styles.css */
#foto-perfil {
    width: 200px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: 200px; /* Ajusta la altura de la imagen según tus necesidades */
    border-radius: 50%; /* Esto hace que la imagen tenga bordes redondeados */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
}

/* En tu archivo styles.css */
#redes-sociales {
    text-align: center;
}

#redes-sociales a {
    display: inline-block;
    margin: 10px; /* Espaciado entre los iconos */
    transition: transform 0.3s ease;
}

#redes-sociales a img {
    width: 32px; /* Ancho deseado para los iconos */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
}

#redes-sociales a:hover {
    transform: scale(1.2);
}
